body {
    margin: 0;
    /*background: url(./assets/Green\ and\ Blue\ Minimalist\ Forest\ Desktop\ Wallpaper.png); 
    color: white;
    font-family: Arial, sans-serif;
    display: flex;
    align-items: center;
    justify-content: center; 
    height: 100vh;  */
}

.screen {
    display: none;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

div#start-screen {
    max-width: 100%;
    height: 100vh;
    background: url(./assets/Green\ and\ Blue\ Minimalist\ Forest\ Desktop\ Wallpaper.png);
    background-position: bottom;
    background-repeat: no-repeat;
    background-size: cover;
    justify-content: flex-end;
}

.screen.active {
    display: flex;
}

h1 {
    font-weight: 700;
    font-size: 50px;
    margin-bottom: 10px;
}

h2 {
    margin-top: 0;
    font-size: 28px;
    color: #a8c9ff;
}

#start-btn {
    margin-bottom: 100px;
    margin-right: 32px;
    background-color: unset;
}

button {
    padding: 12px 24px;
    font-size: 22px;
    border-radius: 10px;
    background-color: #27ae60;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.2s;
}

button:hover {
    background-color: #2ecc71;
}

button.skip {
    background-color: #c0392b;
}

button.skip:hover {
    background-color: #e74c3c;
}

.grid-container {
    display: grid;
    justify-content: center;
    grid-gap: 16px;
}

.card {
    height: calc(140px / 2 * 3);
    width: 140px;
    border-radius: 10px;
    background-color: white;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease-in-out;
}

.front-image {
    width: 60px;
    height: 60px;
}

.card.flipped {
    transform: rotateY(180deg);
}

.front,
.back {
    backface-visibility: hidden;
    position: absolute;
    border-radius: 10px;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
}

.card .front {
    display: flex;
    justify-content: center;
    align-items: center;
}

.card .back {
    background-color: #27ae60;
    background-position: center;
    background-size: cover;
}

.card .front {
    transform: rotateY(180deg);
}

.matched {
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.4s ease;
}

p {
    font-size: 24px;
    font-weight: bold;
}